body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Arimo', sans-serif;
    font: normal 14px Arimo, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.navbar {
    font-family: 'Abril Fatface', cursive;
    font: normal 20px Abril Fatface;
}

.navbar-container {
    color: black;
    background-color: rebeccapurple;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.media {
    border-radius: 25px;
    background: #A7D2CB;
    padding: 20px;
}