<a href="#" class="brand-logo center"><img class="logo responsive-img" src="Img/ReadMeh.png"></a>
<form class="form-inline">
    <label class="sr-only" for="inlineFormInput">Username - your email</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="username" placeholder="JaneDoe@gmail.com" ng-model="Email">
    <label class="sr-only" for="inlineFormInput">Password</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="password" placeholder="Password" ng-model="Password">
    <label class="sr-only" for="inlineFormInput">Confirm Password</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="ConfirmPassword" placeholder="Confirm Password" ng-model="ConfirmPassword" >
    <button type="submit" value="Login" class="btn btn-primary" ng-click="signUp()">Sign Up</button>
</form>



